### Overview of the balances

In [27]:
df_balance = df[['type', 'amount', 'oldbalanceOrig', 'newbalanceOrig', 'oldbalanceDest','newbalanceDest', 'isFraud', 'isFlaggedFraud']].copy()
df_balance = df_balance.loc[df_balance['type'] == 'TRANSFER']
df_balance.head(20)

,type,amount,oldbalanceOrig,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
2,TRANSFER,181.00,181.00,0.0,0.00,0.00,1,0
19,TRANSFER,215310.30,705.00,0.0,22425.00,0.00,0,0
24,TRANSFER,311685.89,10835.00,0.0,6267.00,2719172.89,0,0
58,TRANSFER,62610.80,79114.00,16503.2,517.00,8383.29,0,0
78,TRANSFER,42712.39,10363.39,0.0,57901.66,24044.18,0,0
79,TRANSFER,77957.68,0.00,0.0,94900.00,22233.65,0,0
80,TRANSFER,17231.46,0.00,0.0,24672.00,0.00,0,0
81,TRANSFER,78766.03,0.00,0.0,103772.00,277515.05,0,0
82,TRANSFER,224606.64,0.00,0.0,354678.92,0.00,0,0
83,TRANSFER,125872.53,0.00,0.0,348512.00,3420103.09,0,0
84,TRANSFER,379856.23,0.00,0.0,900180.00,19169204.93,0,0
85,TRANSFER,1505626.01,0.00,0.0,29031.00,5515763.34,0,0
86,TRANSFER,554026.99,0.00,0.0,579285.56,0.00,0,0
87,TRANSFER,147543.10,0.00,0.0,223220.00,16518.36,0,0
88,TRANSFER,761507.39,0.00,0.0,1280036.23,19169204.93,0,0
89,TRANSFER,1429051.47,0.00,0.0,2041543.62,19169204.93,0,0
90,TRANSFER,358831.92,0.00,0.0,474384.53,3420103.09,0,0
91,TRANSFER,367768.40,0.00,0.0,370763.10,16518.36,0,0
92,TRANSFER,209711.11,0.00,0.0,399214.71,2415.16,0,0
93,TRANSFER,583848.46,0.00,0.0,667778.00,2107778.11,0,0

#### Balances in the origin

,type,amount,oldbalanceOrig,newbalanceOrig,isFraud,isFlaggedFraud,amount_moved
8,PAYMENT,4024.36,2671.00,0.00,0,0,2671.0
10,DEBIT,9644.94,4465.00,0.00,0,0,4465.0
13,PAYMENT,11633.76,10127.00,0.00,0,0,10127.0
15,CASH_OUT,229133.94,15325.00,0.00,0,0,15325.0
16,PAYMENT,1563.82,450.00,0.00,0,0,450.0
...,...,...,...,...,...,...,...
6362321,CASH_OUT,186273.84,168046.00,0.00,0,0,168046.0
6362322,TRANSFER,82096.45,13492.00,0.00,0,0,13492.0
6362460,TRANSFER,10000000.00,17316255.05,17316255.05,1,1,0.0
6362462,TRANSFER,7316255.05,17316255.05,17316255.05,1,1,0.0
6362584,TRANSFER,5674547.89,5674547.89,5674547.89,1,1,0.0

#### Potential losses in origin

In [29]:
fraud_transactions = subset_orig[subset_orig['isFraud'] == 1]
fraud_transactions

,type,amount,oldbalanceOrig,newbalanceOrig,isFraud,isFlaggedFraud,amount_moved
724,CASH_OUT,416001.33,0.00,0.00,1,0,0.00
1911,CASH_OUT,132842.64,4499.08,0.00,1,0,4499.08
14861,CASH_OUT,181728.11,0.00,0.00,1,0,0.00
25875,TRANSFER,1078013.76,0.00,0.00,1,0,0.00
77745,CASH_OUT,277970.88,0.00,0.00,1,0,0.00
138559,TRANSFER,1933920.80,0.00,0.00,1,0,0.00
169998,CASH_OUT,149668.66,0.00,0.00,1,0,0.00
178668,CASH_OUT,222048.71,0.00,0.00,1,0,0.00
200845,CASH_OUT,454859.39,0.00,0.00,1,0,0.00
217978,TRANSFER,123194.95,79466.45,0.00,1,0,79466.45
291459,CASH_OUT,95428.32,0.00,0.00,1,0,0.00
296686,CASH_OUT,39713.28,0.00,0.00,1,0,0.00
408955,CASH_OUT,314251.58,75956.47,0.00,1,0,75956.47
424928,CASH_OUT,508782.20,0.00,0.00,1,0,0.00
479636,CASH_OUT,122101.57,0.00,0.00,1,0,0.00
543928,CASH_OUT,23292.30,0.00,0.00,1,0,0.00
559979,CASH_OUT,89571.46,4505.60,0.00,1,0,4505.60
643671,CASH_OUT,112280.88,0.00,0.00,1,0,0.00
694551,CASH_OUT,234377.29,0.00,0.00,1,0,0.00
732891,CASH_OUT,112486.46,0.00,0.00,1,0,0.00
750755,CASH_OUT,577418.98,0.00,0.00,1,0,0.00
764187,CASH_OUT,407005.78,0.00,0.00,1,0,0.00
920521,TRANSFER,1395850.55,0.00,0.00,1,0,0.00
1021951,TRANSFER,202978.65,0.00,0.00,1,0,0.00
2058343,CASH_OUT,332729.54,0.00,0.00,1,0,0.00
2242699,CASH_OUT,229909.57,0.00,0.00,1,0,0.00
2622102,CASH_OUT,291519.84,0.00,0.00,1,0,0.00
2736446,TRANSFER,4953893.08,4953893.08,4953893.08,1,1,0.00
2946481,CASH_OUT,40611.22,0.00,0.00,1,0,0.00
2983493,CASH_OUT,94372.61,0.00,0.00,1,0,0.00
3247297,TRANSFER,1343002.08,1343002.08,1343002.08,1,1,0.00
3760288,TRANSFER,536624.41,536624.41,536624.41,1,1,0.00
5563713,TRANSFER,4892193.09,4892193.09,4892193.09,1,1,0.00
5996407,TRANSFER,10000000.00,19585040.37,19585040.37,1,1,0.00
5996409,TRANSFER,9585040.37,19585040.37,19585040.37,1,1,0.00
6168499,TRANSFER,3576297.10,3576297.10,3576297.10,1,1,0.00
6205439,TRANSFER,353874.22,353874.22,353874.22,1,1,0.00
6266413,TRANSFER,2542664.27,2542664.27,2542664.27,1,1,0.00
6281482,TRANSFER,10000000.00,10399045.08,10399045.08,1,1,0.00
6281484,TRANSFER,399045.08,10399045.08,10399045.08,1,1,0.00
6296014,TRANSFER,3441041.46,3441041.46,3441041.46,1,1,0.00
6351225,TRANSFER,3171085.59,3171085.59,3171085.59,1,1,0.00
6362460,TRANSFER,10000000.00,17316255.05,17316255.05,1,1,0.00
6362462,TRANSFER,7316255.05,17316255.05,17316255.05,1,1,0.00
6362584,TRANSFER,5674547.89,5674547.89,5674547.89,1,1,0.00

### Outliers

In [ ]:

num_cols = 2
num_rows = (len(numeric_cols) + 1) // num_cols
fig, axes = plt.subplots(num_rows, num_cols, figsize=(num_cols * 8, num_rows * 5))
axes = axes.flatten()  

for i, col in enumerate(numeric_cols):
    sns.boxplot(data=df, x=col, ax=axes[i])
    axes[i].set_title(f'Boxplot de {col}', fontsize=15)
    axes[i].set_xlabel(col, fontsize=12)
    axes[i].set_ylabel('Valores', fontsize=12)


plt.tight_layout()
plt.show()